<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
	<title>@ViewData["Title"] | EKO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="Simple To Do Tasks Web Apps" />
	<meta name="og:description" content="Simple To Do Tasks Web Apps" />
	<meta property="og:title" content="Simple To-Do EKO" />
	<meta property="og:site_name" content="Emir Kaan To-Do App" />
	<meta property="og:type" content="website" />
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body class="bg-body-secondary h-100">
    @RenderBody()

    @await RenderSectionAsync("Scripts", required: false)

    <div id="toasts" class="toast-container position-absolute bottom-0 end-0 mb-4 me-4"></div>
</body>
</html>
